<a href="https://colab.research.google.com/github/LEEDONGMINN/LEEDONG/blob/main/6%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6장 예제

In [1]:
for i in range(3) :
  print("안산공고 컴퓨터과 최악")
  print ("응애")

안산공고 컴퓨터과 최악
응애
안산공고 컴퓨터과 최악
응애
안산공고 컴퓨터과 최악
응애

In [4]:
fact = 1

for i in range(1,6,1) :
  fact = fact * i
print(fact)

120

1부터 10까지 더하기

In [5]:
hap = 0

for i in range(1,11,1) :
  hap = hap + i
print(hap)

55

In [7]:
i, hap = 0,0

for i in range(1001,2001,2) :
  hap += i

print("1000부터 2000까지의 합 : ",hap)

1000부터 2000까지의 합 :  750000

중첩 for문

In [8]:
for i in range(3) :
  for k in range(2) :
    print("난생처음은 없습니다.")

난생처음은 없습ㄴ다.
난생처음은 없습ㄴ다.
난생처음은 없습ㄴ다.
난생처음은 없습ㄴ다.
난생처음은 없습ㄴ다.
난생처음은 없습ㄴ다.

구구단

In [12]:
i = 0
j = 0

for i in range(2,10) :
  for j in range(1,10) :
    print(i,"X",j,"=",i*j)
print("")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [14]:
for i in range(0,3,1) :
  print(i, ": 난생처음 파이썬은 재미없습니다.")

i = 0
while (i < 3) :
  print(i,": 난생처음 파이썬은 재미없습니다.")
  i = i + 1

0 : 난생처음 파이썬은 재미없습니다.
1 : 난생처음 파이썬은 재미없습니다.
2 : 난생처음 파이썬은 재미없습니다.
0 : 난생처음 파이썬은 재미없습니다.
1 : 난생처음 파이썬은 재미없습니다.
2 : 난생처음 파이썬은 재미없습니다.

In [18]:
hap = 0
num1, num2 = 0,0

while True :
  num1 = int(input("숫자1 ==> "))
  num2 = int(input("숫자2 ==> "))

  hap = num1 + num2
  print(num1,"+",num2,"=",hap)
  if num1 == 0 :
   break;

숫자1 ==> 0
숫자2 ==> 2
0 + 2 = 2

In [23]:
import random

a,b,c,count = 0,0,0,0

while True :
  a = random.randint(1,6)
  count = count + 1
  b = random.randint(1,6)
  count = count + 1
  c = random.randint(1,6)
  count = count + 1
  if(a == b == c) :
    print(a,b,c,"다 같은 주사위 ",count,"번 던졌다")
    break;

6 6 6 다 같은 주사위  72 번 던졌다

In [40]:
import random
count = 1
com = random.randint(1,5)
user = 0
while True :
  print(count,"회 게임")
  
  user = int(input("게임 컴퓨터가 생각한 숫자는? : "))
  if user == com :
    print(count,"번 만에 맞췼습니다")
    break;
  else :
    print("틀렸습니다.")
    count = count + 1

1 회 게임
게임 컴퓨터가 생각한 숫자는? : 3
틀렸습니다.
2 회 게임
게임 컴퓨터가 생각한 숫자는? : 2
틀렸습니다.
3 회 게임
게임 컴퓨터가 생각한 숫자는? : 4
틀렸습니다.
4 회 게임
게임 컴퓨터가 생각한 숫자는? : 5
4 번 만에 맞췼습니다