<a href="https://colab.research.google.com/github/slowspeedup/LEEDONG/blob/main/Unity%3CUnreal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 프로그래밍 1장

In [1]:
print("안산공고 컴퓨터과 3학년 3반 16번 이동민");

안산공고 컴퓨터과 3학년 2반 16번 이동민

In [2]:
print("내일은 즐거운 졸업여행");
print("준비물 잘 챙기자.");
print("다치치 말고 재미있게 놀다 오자");

내일은 즐거운 졸업여행
준비물 잘 챙기자.
다치치 말고 재미있게 놀다 오자

In [3]:
a = 100
b = 200
result = a + b

print(a,"+",b,"=",result)

100 + 200 = 300

In [7]:
num1 = 100
num2 = 200
result = num1 * num2
print(num1, "x", num2, "=", result)

100 x 200 = 20000

In [8]:
num1 = 100
num2 = 200
result = num1 / num2
print(num1, "/", num2, "=", result)

100 / 200 = 0.5

In [9]:
num1 = 100
num2 = 200
result = num1 - num2
print(num1, "-", num2, "=", result)

100 - 200 = -100

몫을 구하는 연산자

In [10]:
num1 = 100
num2 = 200
result = num1 // num2
print(num1, "//", num2, "=", result)

100 // 200 = 0

몫을 구하는 연산자

In [13]:
num1 = 2
num2 = 1
result = num1 % num2
print(num1,"%",num2,result)

2 % 1 0

In [14]:
num1 = 100
num2 = 20
result = num1 ** num2
print(num1, "**", num2, "=", result)

100 ** 20 = 10000000000000000000000000000000000000000